{% extends "template.j2" %}

{% block content %}


<div class="gutters mt-xl">

        
    <p>
        When Nakita Turner stepped on stage at age six to perform for the very first time, she didn’t receive the response you’d hope for such a brave action by someone so young. She was mocked and laughed at by a group in the audience – something no six-year-old should ever have to experience – and vowed to never perform again.
    </p>

    <p>
        How many of us have had similar hurtful experiences? Words. Actions. Online hate. Being ignored. Being stared at. However and whenever it happens, treating people without respect or kindness – bullying – is not okay. It hurts real people and becomes a barrier to dreams, hopes and possibilities.
    </p>
    <p>
        Having experienced bullying a lot herself, as well as seeing how it affects other young people, Nakita wanted to do something to make a difference. Nakita is an incredible singer (as you can see <a href='/'>here</a>) and so at 13 decided to write a song. However, this songwriting process was different than most. Nakita went into six schools and interviewed 180 young people of all ages about their experiences of bullying. Then, with mentorship from the band Dukes, she collated these experiences into a song.
    </p>
    
    <p>
        After connecting with the Our Voice Anti-Bullying Projects, award-winning film editor Katie Hinsen organised the shooting of a music video by film professionals. Then, with the support of Parachute Music, a local studio came to the party and gifted the recording. Nakita then auditioned a youth choir, got a few other artists involved (like Massad and Restoration – who wrote the rap), and the stage was set.
    </p>

    <p>
        Our Voice Anti-Bullying Projects helped Nakita take all of her ideas, and set her up with professional mentors to allow her and her peers to keep leading the project themselves. Around 30 mentors from all over the country and all over the world, were always on hand to teach, guide, and open doors to make such a big concept happen.
    </p>
    <p>
        The “One Voice” song and music video was recorded in the studio on the same day, a collaboration that saw both film pros and young people behind the sound desk and camera. Then, just as icing on the already-awesome-cake, members of Peter Jackson’s Park Road Post Production edited and colour graded the video (that’s why it looks so flippin’ fancy) and incredible artist <a href='http://instagram.com/colour_me_creative'>Kristina Webb</a> provided the artwork! The crew from Live For Tomorrow then came to the party, and we’ve been working super hard to get this amazing song out to as many people as possible.
    </p>

    <p>
        At its heart, “One Voice” is the story of a New Zealand teenager turning some hard experiences into something pretty moving and special, with a whole lot of kind-hearted people doing their bit to help along the way.
    </p>
    <p>
        The message we hope to share is that it only takes one voice to make a difference when it comes to treating each other right. You’ve heard Nakita’s voice. Now maybe it’s time to add yours?
    </p>
    <p class='mt-xl'>
        <a href="http://onevoicenz.tumblr.com/" class='btn btn-primary'>Add your voice</a>
    </p>

</div>

{% endblock %}