{% extends "template.j2" %}

{% block layout %}

	<div class="max-video-width">
		<div class="gutters mt-xl">
			<!-- LIVE VIDEO ID = fQrCti-hqu0  <iframe src="//www.youtube.com/watch?v=fQrCti-hqu0?wmode=opaque" frameborder="0" width="100%" height="450px" allowfullscreen></iframe> -->
		
			<div class="quicktube" data-quicktube="kittens">
			    <div class="quicktube__video" data-quicktube-video="OCWj5xgu5Ng">
			    </div>
			    <div data-quicktube-play="kittens" class="quicktube__poster" data-quicktube-poster>
			    	<img src="/assets/images/poster.jpg">
			        <div class="quicktube__play quicktube__btn">
			            <i class='i i--large icon-circle-arrow '></i>
			            <span class='sr-only'>Play</span>
			        </div>
			    </div>
			</div>

		</div>
	</div>



	<div class="max-width">
		<div class="gutters text-center mt-xl">
			<h2>You have a voice.<br> Share this and together we can stop bullying</h2>

			<ul class='nav social mt-l'>
				<li>
					<a href="#" class='btn btn--icon-large  btn-facebook'><i class='i icon-facebook'></i> Share on facebook</a>
				</li>
				<li>
					<a href="#" class='btn btn--icon-large btn-twitter'><i class='i icon-twitter'></i> Share on twitter</a>
				</li>
			</ul>
			

			<hr class='mt-l mb-xl'>

			<div class="like-dl blue" id="locker-111"></div>


			<p>

				Like this page for your free download
			</p>


		</div>


		<div class="more text-center mt-xl">
			<hr>
			<h2>Want to get more stuff like this?</h2>

	    	<iframe class='mt-m' src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Flivefortmw&amp;width&amp;height=62&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:62px;" allowTransparency="true" ></iframe>
	    </div>

	</div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1" async="true"></script>
{% endblock %}