{% extends "template.j2" %}

{% block content %}

<div class="gutters mt-xl">

	<p>
		If you’re struggling because of bullying then reach out to someone you trust. You can also access these free services in NZ:
	</p>


	<h3>Youthline</h3>
	<ul class="help-options">
		<li>
			0800 37 66 33
		</li>
		<li>
			free txt 234
		</li>
		<li>
			<a href="http://www.youthline.co.nz">youthline.co.nz</a>
		</li>
		<li>
			<a href="mailto:talk@youthline.co.nz">talk@youthline.co.nz</a>
		</li>
		<li>
			<a href="http://www.facebook.com/Youthline.Changing.Lives">Youthline on Facebook »</a>
		</li>
	</ul>


	<h3>Kidsline</h3>
	<ul class="help-options">
		<li>
			0800 54 37 54 (4pm to 6pm Monday to Friday)
		</li>
		<li>
			<a href="http://www.kidsline.org.nz/">kidsline.org.nz</a>
		</li>
	</ul>


	<h3>The Lowdown</h3>
	<ul class="help-options">
		<li>
			free txt 5626
		</li>
		<li>
			<a href="http://www.thelowdown.co.nz/">www.thelowdown.co.nz</a>
		</li>
		<li>
			<a href="mailto:team@thelowdown.co.nz">team@thelowdown.co.nz</a> (emails and txts are responded to between midday and midnight)
		</li>
	</ul>

	<h3>What’s Up</h3>
	<ul class="help-options">
		<li>0800 What’s Up (0800 942 8787, 1pm – 11pm)</li>
		{#<li>
			<a href="http://www.facebook.com/pages/0800-Whats-Up/176490055776217">What’s Up on Facebook »</a>
		</li>#}
	</ul>

	<hr class='mt-xl'>

	<h3>Here's some tips for dealing with cyberbullying:</h3>
	<ul>
		<li>Don’t allow anonymous messages on social media like Ask.fm &amp; Tumblr, and be careful who you give your mobile number to.</li>
		<li>Block the person on social media and your phone.</li>
		<li>Save the evidence by taking screenshots. If any cyberbullying threatens harm or tells you to harm yourself, save the evidence and contact the police.</li>
		<li>Don’t respond to the people bullying you.</li>
		<li>If you witness cyberbullying try to help the person being bullied. You can offer them support, or report the bullying anonymously if that feels safer.</li>
	</ul>


</div>

{% endblock %}